<%- include('../../_partials/doc-header.ejs') %>
<%- include('../../_partials/nav.ejs') %>
<header><h2><%= pageTitle %></h2></header>
<main>
	<form class="product-form" action="/admin/products/add-item" method="POST">
		<div class="form-control">
			<label for="id">Id</label>
			<input type="number" name="id" id="id" />
		</div>
		<div class="form-control">
			<label for="title">Title</label>
			<input type="text" name="title" id="title" />
		</div>
		<div class="form-control">
			<label for="price">Price</label>
			<input type="number"  step='0.01' name="price" id="price" />
		</div>
		<div class="form-control">
			<label for="description">Description</label>
			<input type="text" name="description" id="description" />
		</div>
		<div class="form-control">
			<label for="imgUrl">Image Url</label>
			<input type="text" name="imgUrl" id="imgUrl" />
		</div>
		<button type="submit" class="btn">Add Item</button>
	</form>
</main>
<%- include('../../_partials/doc-end.ejs') %>