<!--<div class="form-control">
  <label for="id">Id</label>
  <input type="number" name="id" id="id" />
</div>-->
<div class="form-control">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" />
</div>
<div class="form-control">
  <label for="price">Price</label>
  <input type="number"  step='0.01' name="price" id="price" />
</div>
<div class="form-control">
  <label for="description">Description</label>
  <textarea type="text" name="description" id="description" rows="5"></textarea>
</div>
<div class="form-control">
  <label for="imgUrl">Image Url</label>
  <input type="text" name="imgUrl" id="imgUrl" />
</div>