<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/" class="<%= listItemClass  %> ">Items</a></li>
      <li class="main-header__item"><a href="/admin/add-item" class="<%= addItemClass  %>">Add an Item</a></li>
    </ul>
  </nav>
</header>